.header{
    background: linear-gradient(to right, $color--primary, $color--secondary);
}

.section__group{
    // width: 40%;
    // background-color: $color--tertiary;
    // background: linear-gradient(to right, $color--primary, $color--secondary);
    padding: 2rem;

    &--names{
        font-size: $text-size-default;
        font-weight: 800;
    }
};

.page{
    &__title{
        font-size: $text-size-section-title;
    };
    &__description{
        font-size: $text-size-big;
    };
};
