//COLOR

$color--primary: rgb(119, 129, 134);
$color--secondary: rgb(195,164,97);
$color--tertiary: rgb(88,123,83);
$color--quaternary: rgb(93,146,170);
$color--quinternary: rgb(190,140,142);

$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#aaaaaa;

$color-font-default: rgb(32, 29, 29);

$color-shadow-1: rgba(0, 0, 0, 0.4);

//TEXT
$text-size-default: 1.6rem;
$text-size-small: 1rem;
$text-size-big: 3rem;
$text-size-section-title: 5rem;

$gutter-horizontal: 5rem;
$gutter-vertical: 4rem;
$font-family-name: sans-serif, 'Roboto', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue';