html {
  font-family: "InterRegular";
}

/* width */
::-webkit-scrollbar {
  width: 0.6em;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  outline: "1px solid slategrey";
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  padding: 0;
}

body > #root > div {
  height: 100vh;
}
@font-face {
  font-family: "InterRegular";
  src: local("InterRegular"),
    url("./assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "InterBold";
  src: local("InterBold"),
    url("./assets/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "InterSemiBold";
  src: local("InterSemiBold"),
    url("./assets/fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "InterLight";
  src: local("InterLight"),
    url("./assets/fonts/Inter-Light.ttf") format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "InterMedium";
  src: local("InterMedium"),
    url("./assets/fonts/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "InterExtraBold";
  src: local("InterExtraBold"),
    url("./assets/fonts/Inter-ExtraBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "InterBlack";
  src: local("InterBlack"),
    url("./assets/fonts/Inter-Black.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "InterThin";
  src: local("InterThin"),
    url("./assets/fonts/Inter-Thin.ttf") format("truetype");
  font-weight: normal;
}

/* FÃBIO */

.pressing {
  transition: all 0.2s;
  box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.4);
}
.pressing:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.4);
}
.pressing:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.4);
}

.animacaoEntrada {
  -webkit-animation: fromLeft 0.5s ease-out;
  animation: fromLeft 0.5s ease-out;
  animation-fill-mode: backwards;
}

@-webkit-keyframes fromLeft {
  0% {
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* coloco o que ocorre em cada etapa (%) da animacao */
@keyframes fromLeft {
  0% {
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
/* 
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
} */

/* html {
  font-size: 62.5%;
  padding: 1rem;
} */

/* body {
  box-sizing: border-box;
  background-color: #778186;
} */

/* body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #201d1d;
} */

.table {
  display: flex;
}
.table__column {
  margin-bottom: 1em;
  width: 100%;
  display: inline-block;
}
.table__row {
  height: 3em;
  margin: auto;
  width: 100%;
  align-items: center;
  display: flex;
}

.tablePage {
  display: grid;
  grid-template-columns: 15% 85%;
}
.tablePage__content {
  padding-left: 2rem;
  background-color: #778186;
}
.tablePage__cabecalho {
  font-size: 1.6rem;
  text-align: center;
  background: linear-gradient(to right, #587b53, #5d92aa);
}
.tablePage__valores {
  font-size: 1.6rem;
  overflow-x: auto;
  border: 1px solid #5d92aa;
  scrollbar-face-color: #367cd2;
  scrollbar-shadow-color: #ffffff;
  scrollbar-highlight-color: #ffffff;
  scrollbar-3dlight-color: #ffffff;
  scrollbar-darkshadow-color: #ffffff;
  scrollbar-track-color: #ffffff;
  scrollbar-arrow-color: #ffffff;
}
.tablePage__valores::-webkit-scrollbar-track {
  scrollbar-color: red;
}
.tablePage__valores::-webkit-scrollbar {
  width: 12px;
}
.tablePage__valores::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.tablePage__valores::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
}
.tablePage__valores:hover::-webkit-scrollbar {
  width: 12px;
}
.tablePage__valores:hover::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.tablePage__valores:hover::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px #5d92aa;
  background: linear-gradient(to right, #587b53, #5d92aa);
}

.btn {
  cursor: pointer;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  display: block;
}
.btn__menu {
  display: block;
  margin: 1rem 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.btn__save {
  width: auto;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.btn__input--atualizar {
  display: block;
  width: 20rem;
  text-align: center;
  font-size: 1.6rem;
  background: linear-gradient(to right, #778186, #c3a461);
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.row {
  max-width: 200rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^="col-"] {
  float: left;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 5rem;
}
.row .col-1-of-2 {
  width: calc(1 * (100% - (2 - 1) * 5rem) / 2 + (1 - 1) * 5rem);
}
.row .col-1-of-3 {
  width: calc(1 * (100% - (3 - 1) * 5rem) / 3 + (1 - 1) * 5rem);
}
.row .col-1-of-4 {
  width: calc(1 * (100% - (4 - 1) * 5rem) / 4 + (1 - 1) * 5rem);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - (3 - 1) * 5rem) / 3 + (2 - 1) * 5rem);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - (4 - 1) * 5rem) / 4 + (2 - 1) * 5rem);
}
.row .col-3-of-4 {
  width: calc(3 * (100% - (4 - 1) * 5rem) / 4 + (3 - 1) * 5rem);
}

.columnsHistogram {
  fill: #587b53;
}

.path-line {
  stroke: #587b53;
  stroke-width: 3;
}

.domain {
  stroke-width: 3;
}

line {
  stroke-width: 2;
}

.linechart {
  background-color: #778186;
}

.barchart {
  background-color: #778186;
  margin-left: 0.5%;
}

.piechart {
  background-color: #778186;
  margin-left: 0.5%;
  overflow: scroll;
  box-shadow: 0px -0px 10000px transparent;
}

.graphPage {
  display: grid;
  grid-template-columns: 15% 85%;
  gap: 0.5rem;
}

.graph__menu {
  width: 100%;
  background: linear-gradient(to right, #778186, #c3a461);
  display: flex;
  flex-direction: column;
}
.graph__menu__coluna {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.graph__menu__coluna > .lista_label {
  font-size: 1.6rem;
}

.graph__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.graph__header__number {
  display: inline-block;
  text-align: right;
  padding: 1rem 0.5rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #f7f7f7;
  font-size: x-large;
  background-color: #778186;
}
.graph__header__number--label {
  margin-right: 3rem;
}
.graph__header__number--value {
  font-size: 5rem;
  margin-right: 3rem;
  color: #c3a461;
  font-weight: 900;
}
.graph__header__number--custo {
  background-position: 7% 0%;
  background-size: contain;
  z-index: 1;
  background-repeat: no-repeat;
  resize: both;
  background-image: linear-gradient(
      to right bottom,
      rgba(88, 123, 83, 0.5),
      rgba(119, 129, 134, 0),
      rgba(119, 129, 134, 0)
    ),
    /* url("../images/dollar-sign-solid.svg"); */
}
.graph__header__number--quantidade {
  background-position: 7% 0%;
  background-size: contain;
  z-index: 1;
  background-repeat: no-repeat;
  resize: both;
  background-image: linear-gradient(
      to left bottom,
      rgba(88, 123, 83, 0.5),
      rgba(119, 129, 134, 0),
      rgba(119, 129, 134, 0)
    ),
    /* url("../images/numeros.png"); */
}

.graph__plot {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.3rem;
}

.graph__content {
  display: grid;
  grid-template-rows: 10rem 100rem;
}

.titleGraph {
  background-color: #778186;
  text-align: center;
}

.graph__dataTreeMap {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.input__content {
  background-color: #778186;
}
.input__content--linha {
  display: grid;
  grid-template-columns: 0.2fr 0.5fr;
}
.input__content--label {
  font-size: 2rem;
  padding-left: 1rem;
}
.input__content--field {
  padding-right: 1rem;
}

.inputPage {
  display: grid;
  grid-template-columns: 15% 85%;
  gap: 0.5rem;
}

.input__menu {
  width: 100%;
  background: linear-gradient(to right, #778186, #c3a461);
  display: flex;
  flex-direction: column;
}
.input__menu__coluna {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.input__menu__coluna > .lista_label {
  font-size: 1.6rem;
}

.input__titulo_tabela {
  font-size: 3rem;
  font-weight: 700;
  padding-left: 1rem;
}

.navigation {
  width: 10.5rem;
  height: 100vh;
  background-color: #c3a461;
  position: fixed;
  display: inline-block;
  left: 0;
  top: 0;
  z-index: 1;
  border: 0.2rem solid black;
}
.navigation__button {
  height: 10.5rem;
  width: 100%;
  border: 0.2rem solid black;
  background-color: #c3a461;
  background-position: center;
  background-repeat: no-repeat;
  resize: both;
}
.navigation__button--logo {
  /* background-image: url("../images/museu.png"); */
  background-size: contain;
}
.navigation__button--home {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    /* url("../images/home.svg"); */
}
.navigation__button--input {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    /* url("../images/input.svg"); */
}
.navigation__button--table {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    /* url("../images/table.svg"); */
}
.navigation__button--graph {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    /* url("../images/graph.svg"); */
}

/* .Content {
  position: absolute;
  top: 0;
  left: 6rem;
  width: 100%;
  background-color: #282828;
} */

.header {
  background: linear-gradient(to right, #778186, #c3a461);
}

.section__group {
  padding: 2rem;
}
.section__group--names {
  font-size: 1.6rem;
  font-weight: 800;
}

.page__title {
  font-size: 5rem;
}

.page__description {
  font-size: 3rem;
}
